mixin itemsList(item)
    div(class="list-container h-3/6 flex gap-10 items-center p-8 bg-white rounded-2xl")
        div(class="item-image max-w-[40%]")
            img(src="/images/chicken-gizzard.jpeg" class="border-4 border-gray-300 rounded-[50px]")
        div(class="item-information flex flex-col gap-10 justify-between")
            div(class="top-information flex justify-between items-center")
                h3(class="text-5xl text-custom-blue") #{item.name}
                p(class="bg-transparent border border-custom-blue text-custom-blue text-sm text-center px-6 py-1.5 rounded-3xl") #{item.category.name}
            p(class="text-black text-lg") #{item.summary}
            div(class="price-information flex justify-between")
                p(class="font-bold text-black text-2xl") $#{item.price}
                p(class="text-slate-500") #{item.numberInStock} in stock
            div(class="update-and-delete flex justify-end gap-2")
                a(href=`/store${item.url}/update` class="hover:bg-red-400 rounded-xl")
                    img(src="/images/edit.png" class="w-10 h-auto")
                a(href=`/store${item.url}/delete` class="hover:bg-red-400 rounded-xl")
                    img(src="/images/delete.png" class="w-10 h-auto")